.workspaceContainer {
  min-height: 100vh;
  background-color: #1e1e1e; /* Dark grey background */
  color: #e0e0e0;
  position: relative;
  overflow: hidden;
}

.workspaceContent {
  position: relative;
  height: 100vh;
  overflow: hidden;
  padding: 20px;
}

.homeView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.homeView h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.homeView p {
  font-size: 1.2rem;
  color: #b9bbbe;
}
